<div class="main-container">
    <div class="top-bar">
        <div class="weather-logo"><img  src=".\assets\images\logo_web.png" alt="logo"></div>          
        <div class="search">                      
                <input class="search-text" type="text" placeholder="Search City" name="search" #searchValue (keyup)="getCityNames(searchValue)" autocomplete="off" >
                <button class="search-icon" (click)="getLocationDetails(searchValue.value)"></button>          
                <div class="search-results" *ngIf="searchValue.value!= ''">
                    <ul class="dropdown-menu" *ngFor="let item of cities">
                        <li (click)="getWeatherByPosition(item.lat, item.lon) ; searchValue.value=''">
                           <span class="dropdown-item-text">{{item.name}}</span></li>
                    </ul>
                </div>           
        </div>    
    </div>
    <div class="nav-bar"  >
        <div>
            <a class="labels" *ngFor="let link of navLinks"  [routerLink]="link.link"
                routerLinkActive #rla="routerLinkActive" (click)="tabClicked(link)" [class.selected]="link===selectedLink">{{link.label}}
            </a>
        </div> 
        <div class="date-time">
            <span>{{date | date:'EEE, dd MMM yyyy &nbsp;&nbsp;&nbsp;hh:mm aa'}}</span>
        </div>
    </div>
    <div class="content">   
        <router-outlet></router-outlet>
    </div>
</div>

