@use '../../../assets/color';
@use '../../../assets/variables';

.search-container{
    position: relative;
    height: 100vh;
}

.no-content-container{
  position: absolute;
  left: 50%;
  top: 50%;
  height: -webkit-fill-available;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .no-content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 176px;
    
    .no-results{
      position: relative;
      margin: 0px;
      padding-top: 25px;
      color: color.$text-color;
      font-family: variables.$font-family;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 21px;
      text-align: center;
    }
  }
}


.recents{
  padding-top: 16px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.recents::-webkit-scrollbar{
  display: none;
}

.content-top{
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    color: color.$text-color;
    font-family: variables.$font-family;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
  
    .message{
      padding-left: 10px;  
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
    .remove-item{
      font-weight: 500;
      padding-right: 10px;
      margin-top: 0px;
      margin-bottom: 0px;
      cursor: pointer;
    }
  }
  
  .search-content{ 
    display: flex;
    flex-direction: row;
    height: 73px;
    padding-bottom: 1px;
  
    .first-group{
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;   
      color: color.$text-color;
      background-color:  color.$custom-container;
      margin: 0px;
  
      .place{ 
        padding-left: 15px;    
        margin-top: 0px;
        margin-bottom: 0px;
        cursor: pointer;
      }
  
      .weather-icon{
        width: 36px;
        height: 38px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  
    .second-group
    {
      width: 50%;
      display: flex;
      align-items: center; 
      color: color.$text-color;
      background-color:  color.$custom-container; 
      margin: 0px;
  
      .degrees{   
        position: relative;
        padding-left: 28px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 38px;
      }
      
      .description{
        position: relative;
        padding-left: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
      }

      .unit{
        position: relative;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
      }
    }
  
    .third-group{
      background-color:  color.$custom-container;
  
      .favourite-icon{ 
        position: relative;
        right: 30px;
        margin-top: 28px;
        cursor: pointer;
      }  
  
    }
   
  }


  .remove-all{
    position: absolute;
    left: 50%;
    top: 50%;
    height: -webkit-fill-available;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
    .card {
      height: 210px;
      width: 458px;
      border-radius: 2px;
      background-color: color.$text-color;
      box-shadow: 0 3px 6px 0 color.$popup-shadow;
  
      p {
        padding-top: 58px;
        height: 18px;
        color: color.$custom-black;
        font-family: variables.$font-family;
        font-size: 15px;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
      }
  
      .buttons {
        height: 35px;
        padding-top: 57px;
        padding-left: 152px;
  
        .no-button {
          height: 18px;
          color: color.$custom-black;
          font-family: variables.$font-family;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 18px;
          text-align: center;
          padding-right: 25px;
          border: none;
          background-color: color.$text-color;
        }
  
        .yes-button{
          height: 35px;
          width: 106px;
          color: color.$text-color;
          font-family: variables.$font-family;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 0;
          line-height: 18px;
          text-align: center;
          border: 2px solid color.$custom-orange;
          background-color: color.$custom-orange;
        }
      }
    } 
  }
  
  .full-page{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin: 0px;
    display:block;
    background-color: color.$custom-black;
    opacity: 50%;
  } 