$text-color : #FFFFFF;
$background-search : rgba(255,255,255,0.3);
$highlight-yellow: #FFD639 ;
$searchresults-background : rgba(255, 255, 255, 0.7);
$temperature-active: #E32843;
$custom-black : #000000;
$custom-orange: #F76B1C;
$custom-container: rgba(255,255,255,0.2); 
$popup-shadow: rgba(0,0,0,0.3);